@import "tailwindcss";

@font-face {
  font-family: "NuberNext";
  src: url('/fonts/NuberNextCompressed-Heavy-BF63c8a09d47a53.otf') format('opentype');
}

@font-face {
  font-family: "Mona Sans";
  src: url('/fonts/Mona-Sans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --font-nubernext: NuberNext, "sans-serif";
  --font-monasans: Mona Sans, "sans-serif";
  --color-custom-blue: #0031fe;
  --color-custom-yellow: #f3ff00;
  --color-custom-dark-red: #b1124e;
  --color-custom-grey: #ececec;
}